{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <!-- Use the development Vite asset links during development -->
  <!--<script type="module" crossorigin src="http://localhost:5173/src/main.tsx"></script> -->
  <script type="module" crossorigin src="{% static 'frontend/assets/index-Bq5MoWVw.js' %}"></script>
  <link rel="stylesheet" href="{% static 'frontend/assets/index-kQJbKSsj' %}" crossorigin>
</head>
<body>
  <div id="root"></div> <!-- React will render here -->
</body>
</html>
